{% extends 'admins/base.html' %}
{% block link %}
    <link rel="stylesheet" href="/static/plugins/datatables/dataTables.bootstrap.css">
{% endblock %}
{% block body %}
<section class="content-header">
            <h1>
                微信随机回复
            </h1>
        </section>
    <!--添加标签-->
        <div class="modal fade bs-example-modal-lg" id="myModallink" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">添加回复内容</h4>
              </div>
              <div class="modal-body">
                <form class="form-horizontal" action="{% url 'wxreply' %}" method="post" id="createlink">{% csrf_token %}
                    <div class="form-group">
                    <label class="col-lg-2 control-label" for="content">内容:</label>
                        <div class="col-lg-9">
                            <textarea  id="content" class="form-control" name="content" style="height: 200px;" placeholder="请输入内容，支持\n和html标签" ></textarea>
                        </div>
                </div>
                    <div class="form-group">
                    <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" form="createlink" class="btn btn-primary" value  ="submit">提交</button>
              </div>
              </div>
                </form>
              </div>
            </div>
        </div>
        </div>
        <!--弹窗结束-->
        <section class="content">
            <div class="row">
                <section class="content">
                    <div class="row">

                        <div class="col-xs-12">
                            <div class="box">
                                <!-- /.box-header -->
                            <div class="box-header">
                <a href="#myModallink" style="float: right;margin: 0 2px 0 2px;background-color: #f0ad4e;border-color: #eea236;" class="btn btn-sm btn-primary " data-toggle="modal" data-placement="bottom"><span class="glyphicon glyphicon-globe"></span> 添加 </a>
            </div>
                                <div class="box-body">
                                    <table id="articleList" class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>内容</th>
                                            <th>创建时间</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for link in Keywords %}
                                            <tr id="LinkID{{ link.id }}">
                                                <td>
                                                    <span id="LinkDataName{{ link.id }}">{{ link.id }}</span>
                                                    <input id="LinkName{{ link.id}}" style="display: none;width: 100%" value="{{ link.id }}" type="text">
                                                </td>
                                                <td>
                                                    <span id="LinkDataDesc{{ link.id }}">{{ link.content }}</span>
                                                    <input id="LinkDesc{{ link.id}}" style="display: none;width: 100%" value="{{ link.content }}" type="text">
                                                </td>
                                                <td>{{ link.time }}</td>
                                                <td>
                                                    <div id="ModifyDelete{{ link.id }}">
                                                        <button onclick="DeleteLink({{ link.id }})" id="LinkData" type="button" class="btn btn-danger" style="font-size: 12px">删除</button>
                                                    </div>
                                                    <div id="SaveCancel{{ link.id}}" style="display: none">
                                                        <button onclick="SaveLink({{ link }})" id="ModifyLink{{ link.id }}" type="button" class="btn btn-primary" style="font-size: 12px">保存</button>
                                                        <button onclick="CancelLink({{ link.id }})" id="DeleteLink{{ link.id }}" type="button" class="btn btn-success" style="font-size: 12px">取消</button>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
			$(document).ready(function(){
				$('#Reply').addClass("active");
                $('#weixinul').addClass("menu-open");
				$('#weixinli').addClass("active");
		});
    </script>
     <!-- DataTables -->
    <script src="/static/dist/js/jquery.cookie.js"></script>
    <script src="/static/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script>
    var csrftoken = $.cookie('csrftoken');
	function csrfSafeMethod(method) {
		// these HTTP methods do not require CSRF protection
		return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	}
	$.ajaxSetup({
		beforeSend: function(xhr, settings) {
			if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
				xhr.setRequestHeader("X-CSRFToken", csrftoken);
			}
		}
	});
        $(function () {
            $("#articleList").DataTable();
        });
    function DeleteLink(id) {
            if(confirm("确认要删除此内容，删除后不可恢复哦？")){
                    $.ajax({
                        url:'{% url 'delreply' %}',
                        type:'POST',
                        data:{modify:id},
                        success:function (arg) {
                            window.location.reload();
                        },
                        error:function () {
                            console.log('failed');
                        }
                    });
                }
	}
    </script>
{% endblock %}
