<!DOCTYPE html>
<html lang="en">
<!--[if IE 9 ]><html class="ie9" lang="en"><![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>魏先森的博客|做一个有内涵的知识分享者</title>
    <link rel="icon" href="/static/blog/img/icon.ico" mce_href="dist/img/icon.png" type="image/x-icon">
        <link href="/static/blog/vendors/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">

    <!-- CSS animations -->
    <link rel="stylesheet" href="/static/blog/vendors/animate.min.css">
    <link rel="stylesheet" href="/static/blog/vendors/bootstrap/dist/css/bootstrap.min.css">

    <!-- Select2 - Custom Selects -->
    <link rel="stylesheet" href="/static/blog/vendors/select2/dist/css/select2.min.css">

    <!-- rateYo - Ratings -->
    <link rel="stylesheet" href="/static/blog/vendors/src/jquery.rateyo.css">

    <!-- NoUiSlider - Input slider -->
    <link rel="stylesheet" href="/static/blog/vendors/nouislider/distribute/nouislider.min.css">

    <!-- Site -->
    <link rel="stylesheet" href="/static/blog/css/theme{{ theme }}.css">
    <link rel="stylesheet" href="/static/blog/css/app_2.css">

    <!-- Page Loader JS -->
    <script src="/static/blog/js/page-loader.min.js" async></script>
    <link rel="stylesheet" href="/static/editormd/css/editormd.preview.css"/>
    <style>
        .editormd-preview-container, .editormd-html-preview {
            padding: 0;
        }
    </style>
</head>

<body>
<!-- Start page loader -->
<div id="page-loader">
    <div class="page-loader__spinner"></div>
</div>
<!-- End page loader -->

<header id="header">
    <div class="header__top">
        <div class="container">
            <ul class="top-nav">

                <li class="pull-right top-nav__icon">
                    <a href="https://git.oschina.net/weihaoxuan/" target="_blank"><i class="zmdi zmdi-github" title="访问我的github"></i></a>
                </li>

            </ul>
        </div>
    </div>
    <div class="header__main">
    <nav class="navbar" style="margin-bottom: 0">
      <div class="container">
          <a class="logo" href="{% url 'index' %}">
                <div style="display: inline-block;float: left;margin-right: 15px;color: #FFF;">
                    <img src="/static/blog/img/logo.png" style="width: 43px;height: 43px;padding: 0;margin: 0 auto;">
                </div>
            <div class="logo__text">
                <span>魏先森</span>
                <span>Code changes the world!</span>
            </div>
          </a>
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="glyphicon glyphicon-list" style="color: #fff;font-size: 20px"></span>
          </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right navigations" >
            <li {% if request.path == '/' %} class="active"{% endif %}>
                <a href="{% url 'index' %}">首页</a>
            </li>
            <li class=" dropdown">
                  <a class=""  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    系列
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      {% for item in series %}
                          <li>
                                <a href="{% url 'index' %}?series={{ item.name }}" class="list-group-item media">
                                    {{ item.name }}
                                </a>
                          </li>
                            {% endfor %}
                  </ul>
                </li>
            <li {% if request.path == '/about/' %} class="active"{% endif %}>
                <a href="{% url 'about' %}">关于</a>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    </div>
</header>

{% block body %}
{% endblock %}

<div id="scroll-top2" style="margin-bottom: 100px;margin-right: 20px;position:fixed;right:0;top:85%;display: none">
	<button id="scroll-top" class="btn  page-scroll-top"><i class="glyphicon glyphicon-chevron-up"></i></button>
</div>

<footer id="footer">
    <div class="footer__bottom">
        <div class="container">
            <span class="footer__copyright">Copyright @ 2016-2017 魏先森 版权所有 {{ Filing.filing }}</span>
        </div>
    </div>
</footer>

<!-- Older IE warning message -->
<!--[if lt IE 9]>
        <div class="ie-warning">
            <h1>Warning!!</h1>
            <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
            <div class="ie-warning__inner">
                <ul class="ie-warning__download">
                    <li>
                        <a href="http://www.google.com/chrome/">
                            <img src="img/browsers/chrome.png" alt="">
                            <div>Chrome</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.mozilla.org/en-US/firefox/new/">
                            <img src="img/browsers/firefox.png" alt="">
                            <div>Firefox</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.opera.com">
                            <img src="img/browsers/opera.png" alt="">
                            <div>Opera</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.apple.com/safari/">
                            <img src="img/browsers/safari.png" alt="">
                            <div>Safari</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                            <img src="img/browsers/ie.png" alt="">
                            <div>IE (New)</div>
                        </a>
                    </li>
                </ul>
            </div>
            <p>Sorry for the inconvenience!</p>
        </div>
        <![endif]-->

</body>

    <!-- Javascript -->

    <!-- jQuery -->
    <script src="/static/blog/vendors/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="/static/blog/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Waves button ripple effects -->
    <script src="/static/blog/vendors/Waves/dist/waves.min.js"></script>

    <!-- IE9 Placeholder -->
    <!--[if IE 9 ]>
    <script src="./blog/vendors/jquery-placeholder/jquery.placeholder.min.js' %}"></script>
    <![endif]-->

    <script src="/static/blog/js/demo/demo.js"></script>
    <script src="/static/editormd/lib/marked.min.js"></script>
    <script src="/static/editormd/lib/prettify.min.js"></script>
    <script src="/static/editormd/lib/raphael.min.js"></script>
    <script src="/static/editormd/lib/underscore.min.js"></script>
    <script src="/static/editormd/lib/sequence-diagram.min.js"></script>
    <script src="/static/editormd/lib/flowchart.min.js"></script>
    <script src="/static/editormd/lib/jquery.flowchart.min.js"></script>
    <script src="/static/editormd/editormd.js"></script>

    <script>
    function myEvent(obj,ev,fn){
	if(obj.attachEvent){
		obj.attachEvent('on'+ev,fn);
	}else{
		obj.addEventListener(ev,fn,false);
	}
}
    myEvent(window,'load',function(){
	var oRTT=document.getElementById('scroll-top');
	var oRTT2=document.getElementById('scroll-top2');
	var pH=document.documentElement.clientHeight;
	var timer=null;
	var scrollTop;
	window.onscroll=function(){
		scrollTop=document.documentElement.scrollTop||document.body.scrollTop;
		if(scrollTop>=pH){
			oRTT.style.display='block';
			oRTT2.style.display='block';
		}else{
			oRTT.style.display='none';
			oRTT2.style.display='none';
		}
		return scrollTop;
	};
	oRTT.onclick=function(){
		clearInterval(timer);
		timer=setInterval(function(){
			var now=scrollTop;
			var speed=(0-now)/10;
			speed=speed>0?Math.ceil(speed):Math.floor(speed);
			if(scrollTop==0){
				clearInterval(timer);
			}
			document.documentElement.scrollTop=scrollTop+speed;
			document.body.scrollTop=scrollTop+speed;
		}, 3);
	}
});
</script>
{% block js %}
{% endblock %}
</html>